<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit Recipe</title>
</head>

<body>
    <a href="/logout">Logout</a>
    <h1>Edit Recipe: {{recipe.name}}</h1>  
    <form action="/wishes/{{wish.id}}/update" method="POST">
        {% csrf_token %}
        <p>Name<input type="text" name="name" value="{{wish.name}}" /></p>

        <p>
            Description<textarea name="description">
{{wish.description}}</textarea>
        </p>

        <button type="submit">Edit!</button>
    </form>
    <form action='/wishes' method='post'>
        {% csrf_token %}
        <input type='submit' value='Cancel'>
    </form>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>
            {{ message }}
        </li>
        {% endfor %}
    </ul>
    {% endif %}
</body>

</html>